h4.flow-hint
  i.fa.fa-files-o
  | 实例

.flow-sidebar-content
  .flow-browser
    // ko ifnot:hasDocs
    p
      | 你还没有已保存的 notebook. 保存 notebook,请点击 
      i.fa.fa-save
      | &nbsp;图标, 或选择文件 
      i.fa.fa-angle-right
      | &nbsp;从应用程序菜单中保存.

    // /ko

    // ko if:hasDocs
    table
      tbody
        // ko foreach:docs
        tr
          td
            i.fa.fa-file-o
          td
            div
              +link('@name', 'load')
            .flow-small(data-bind='text:fromNow, attr:{title:date}')
          td
            i.fa.fa-trash-o.flow-pointer(data-bind='click:purge')
        // /ko
    // /ko

    div(style='margin-top:10px')
      +button('刷新', 'refresh', 'loadNotebooks')

